In [1]:
import pandas as pd

In [2]:
bond=pd.read_csv('jamesbond.csv',index_col='Film')
bond.sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [4]:
bond["Actor"].head()

Film
Dr. No                   Sean Connery
From Russia with Love    Sean Connery
Goldfinger               Sean Connery
Thunderball              Sean Connery
Casino Royale             David Niven
Name: Actor, dtype: object

In [6]:
mask=bond["Actor"]=="Sean Connery"
bond[mask]["Actor"]="Sir Connery"

/home/tarun3k/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
mask=bond["Actor"]=="Sean Connery"
bond.loc[mask,"Actor"]="Sir Connery"
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [14]:
bond.rename(columns={"Film":"James Film","Actor":"Actor in Film"},inplace=True)
bond.head()

,Year,Actor in Film,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [17]:
bond.rename(index={"Thunderball":"The Thunder Ball"},inplace=True)
bond.head()

,Year,Actor in Film,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Connery,Guy Hamilton,820.4,18.6,3.2
The Thunder Ball,1965,Sir Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [18]:
bond.rename(index={"Film":"Bond Films"},inplace=True)
bond.head()  #no effect

,Year,Actor in Film,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Connery,Guy Hamilton,820.4,18.6,3.2
The Thunder Ball,1965,Sir Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN