In [1]:
import pandas as pd

In [21]:
nba=pd.read_csv('nba.csv')
(nba['Age']+5).head()

0    30.0
1    30.0
2    32.0
3    27.0
4    34.0
Name: Age, dtype: float64

In [9]:
nba['Age'].head()

0    25.0
1    25.0
2    27.0
3    22.0
4    29.0
Name: Age, dtype: float64

In [11]:
nba['Height']=0.67*nba['Weight']
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,120.60,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,157.45,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,137.35,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,123.95,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,154.77,231.0,NaN,5000000.0

In [22]:
nba.insert(3,column='Number1',value=nba['Number']+19)

In [23]:
nba.head()

,Name,Team,Number,Number1,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,19.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,118.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,49.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,47.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,27.0,PF,29.0,6-10,231.0,NaN,5000000.0